/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Navbar container */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .contaier {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo */
  .logo-brand {
    font-size: 1.5rem;
  }
  
  .logo-brand a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Navigation */
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
  }
  